@charset "UTF-8";
/*---------------------------------------------------------------------------------

	Theme Name: 
	Description: 
	Author: 
	
-----------------------------------------------------------------------------------

	0.	Document
	1.	Font
	2.	Frame
	3.	Heading
	4.	Header
	5.	Menu Navigation
	6.	Button
	7.	Top Page
	8.	Archive Page
	9.	Single Page
	10.	Blog
	11.	Sidebar
	12.	Footer

/* -------------------------------------------------------------------------------- */
/*	0. Document
/* -------------------------------------------------------------------------------- */

@media screen and (max-width: 575.98px) {}
@media screen and (min-width: 576px) and (max-width: 767.98px){}
@media screen and (min-width: 768px) and (max-width: 991.98px){}
@media screen and (min-width: 992px) and (max-width: 1199.98px){}
@media screen and (min-width:1200px){}

/* -------------------------------------------------------------------------------- */
/*	1. Font
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	2. Frame
/* -------------------------------------------------------------------------------- */

@media screen and (max-width: 575.98px) {
	.container {
		width: 320px;
	}
	 .flex-xs-wrap {
		 -ms-flex-wrap: wrap !important;
		 flex-wrap: wrap !important;
	}
}
@media screen and (min-width: 576px) and (max-width: 767.98px){
	.container {
		width: 576px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
	.container {
		width: 768px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199.98px){
	.container {
		width: 992px;
	}
}
@media screen and (min-width:1200px){
	.container {
		width: 1200px;
	}
}

/* -------------------------------------------------------------------------------- */
/*	3. Heading
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	4. Header
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	5. Menu Navigation
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 575.98px) {
    .yamm-fw .dropdown-menu {
        background: #fff;
    }
    .dropdown-item {
        color: #212529;
        padding: 0;
    }
}
@media screen and (min-width: 576px) and (max-width: 767.98px){
    .yamm-fw .dropdown-menu {
        background: #fff;
    }
    .dropdown-item {
        color: #212529;
        padding: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .navbar-brand {
        max-width: 150px;
    }
    .nav-link {
        font-size: .7rem;
    }
    .nav-subtitle {
        font-size: .5rem;
    }
    .yamm-fw .dropdown-menu {
        background: linear-gradient(180deg,#d90000 0%,#d90000 80px,#fff 80px,#fff 100%);
    }
    .dropdown-item {
        font-size: .7rem;
    }
    .dropdown-title {
        font-size: 1rem;
    }
    .dropdown-subtitle {
        font-size: .7rem;
    }
    .triangle-1 {
        top: -7px;
        left: 140px;
    }
    .triangle-2 {
        top: -7px;
        right: 213px;
    }
    .triangle-3 {
        top: -7px;
        right: 112px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .yamm-fw .dropdown-menu {
        background: linear-gradient(180deg,#d90000 0%,#d90000 90px,#fff 90px,#fff 100%);
    }
    .triangle-1 {
        left: 190px
    }
    .triangle-2 {
        right: 304px
    }
    .triangle-3 {
        right: 170px
    }
}
@media screen and (min-width:1200px){}

/* -------------------------------------------------------------------------------- */
/*	6. Button
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 575.98px) {}
@media screen and (min-width: 576px) and (max-width: 767.98px){}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .size-button {
        font-size: .7rem;
        width: 30px;
        height: 30px;
        padding: 5px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px){}
@media screen and (min-width:1200px){}

/* -------------------------------------------------------------------------------- */
/*	7. Top Page
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	8. Archive Page
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	9. Single Page
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	10. Blog
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	11. Sidebar
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	12. Footer
/* -------------------------------------------------------------------------------- */

@media screen and (min-width: 576px) and (max-width:767px){
	.cvsfront {
		height:680px;
	}

	.mindiv {
		top:-650px;
	}
}

@media screen and (max-width:575px){
	.cvsfront {
		height:1150px;
	}

	.mindiv {
		top:-1100px;
	}
}
